################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
/exemple/obj/Debug
/exemple/bin
/.vs/exemple/v15/Server/sqlite3/db.lock
/.vs/exemple/v15/Server/sqlite3/storage.ide
/.vs/exemple/v15/Server/sqlite3/storage.ide-shm
/.vs/exemple/v15/Server/sqlite3/storage.ide-wal
